TELEGRAM_TOKEN=
FIRST_TEXT="Приветствую вас в нашем боте"
AUTO_TEXT="Автомотический текст"

#tables
DROP_TABLES = no
CREATE_TABLE = yes

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

#dayly parser
JW_URL = "https://wol.jw.org/ru/wol/dt/r2/lp-u/"
WAIT_TEXT = "Контора пишет"

#table parser
TABLE_KEY =